@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-action="SendTestMail">
        <label>Email address: </label>
        <input type="email" name="emailAddress" required />
        <button type="submit">Send test email</button>
    </form>
    @if(ViewBag.EmailSentMessage != null)
    {
        <br>
        <p class="text-success">
            @ViewBag.EmailSentMessage
        </p>
    }
</div>
